{% extends 'VinFrontOfficeBundle::layout.html.twig' %}

    {% block content %}

        <div style="width:450px;border:solid black 1px;border-radius:8px;text-align:center;margin:auto;">

            <h3>Ajouter un commentaire :</h3>
                {{  form(form) }}

        </div>

    {% endblock %}