{% extends 'VinFrontOfficeBundle::layout.html.twig' %}


    {% block content %}

        <div style="width:450px;border:solid black 1px;border-radius:8px;text-align:center;margin:auto;">

            <h3>Envoi d'un mail :</h3>
                {{ form(form) }}

        </div>

    {% endblock %}