{% extends 'VinFrontOfficeBundle::layout.html.twig' %}

    {% block content %}

        {% for vin in vins %}
            <div class="row text-center">

                {{ include('VinFrontOfficeBundle:Vin:vin.html.twig') }}

            </div>
        {% endfor %}


    {% endblock %}