{% extends 'VinBackOfficeBundle::layout.html.twig' %}


	{% block content %}

		<div style="width:550px;text-align:center;border:solid black 1px;border-radius:7px;margin-left:425px;margin-top:25px;">

			<h3>Ajoût d'un nouveau domaine</h3>
				{{ form(form) }}

		</div>

	{% endblock %}