{% extends 'VinFrontOfficeBundle::layout.html.twig' %}

    {% block content %}

        <div style="width:470px;border:1px solid black;border-radius:8px;margin:auto;padding:15px;text-align:justify;">

            <h2>Conditions Générales de vente :</h2>

            <p> Integer gravida lobortis mollis. Pellentesque tincidunt ligula id justo elementum, in tempor purus tristique. Curabitur rhoncus massa at metus interdum pharetra.<br> Suspendisse vestibulum blandit lacus. Phasellus porttitor ultricies sem, nec egestas risus dictum eu. Donec volutpat elit ac dui condimentum, eleifend tincidunt lacus varius.<br> Fusce non metus pretium, molestie nisi id, venenatis ex. Pellentesque a aliquet nisi. Pellentesque faucibus nunc vel magna porta, eget tempor elit sollicitudin. Sed congue viverra lectus eu posuere. Nunc ultrices efficitur porta. Integer ipsum magna, dignissim sed orci eget, sodales tempus leo. Nullam et pellentesque tellus. Cras eget tempus mi, porttitor tristique neque.

                Pellentesque aliquam fermentum diam sed aliquam. Phasellus molestie, nunc sagittis viverra bibendum, libero lorem hendrerit leo, vitae interdum massa quam at lacus. Suspendisse vitae mollis turpis. Praesent mollis ante est, ut pretium neque hendrerit vel. Sed volutpat arcu nec tristique posuere.<br> Vivamus non dictum neque, non condimentum erat. Quisque quis iaculis diam, venenatis varius elit. Quisque auctor, massa sit amet lacinia ultricies, ligula erat dapibus ipsum, non tincidunt neque est et nunc. Donec feugiat porttitor lacus, in commodo felis molestie ut. Aenean ac rhoncus ipsum, quis elementum odio. Suspendisse efficitur arcu in lectus ullamcorper viverra. </p>

        </div>

    {% endblock %}