{% extends 'VinFrontOfficeBundle::layout.html.twig' %}

	{% block content %}

        <div class="container">

            {% for vin in showVins %}
                <header class="jumbotron hero-spacer">
                    <h1>{{ vin.appellation.nameAppellation |capitalize }}</h1>
                    <p>{{ vin.appellation.descriptionAppellation }}</p>
                </header>

                <hr>




                <!-- Page Features -->
                <div class="row text-center">

                    {{ include('VinFrontOfficeBundle:Vin:vin.html.twig') }}

                </div>
            {% endfor %}

        </div>
        <!-- /.row -->

    {% endblock %}